h1 {
    font-family: Khand;
    width: 1670px;
    height: 934px;
    top: -22px;
    left: -10px;
    gap: 0px;
    opacity: 0px;

}

h2 {
    font-family: Khand;
}

h3 {
    font-family: Khand;
}

p {
    font-family: Khand;
    
}

nav {
    font-family: Khand;
}

.explore {



}

.moment {
 

}

.banner {
    <bg-image #http://127.0.0.1:5500/Mountains1.jpg>
}