h1 {
    width: 723px;
    height: 83px;
    top: 441px;
    left: 98px;
    gap: 0px;
    opacity: 0px;
    font-family: Khand;
    font-size: 54px;
    font-weight: 400;
    line-height: 82.57px;
    text-align: left;
    

    

}

h2 {
    font-family: Khand;
}

h3 {
    font-family: Khand;
}

p {
    font-family: Khand;
    
}

nav {
    font-family: Khand;
}


.banner
 {
    background-image: url('Mountains1.jpg');
    background-size: cover; 
    background-position: center; /* Center the background image */
    height: 400px; 
    width: 1440px;
    height: 834px;
    top: 78px;
    gap: 0px;
    opacity: 0.3px;
    color: white;
    

}

.banner nav a {
    display: inline-block; 
    padding: 10px 20px; 
    border: 2px solid white; 
    text-decoration: none; 
    color: white; 
}

.banner nav a:hover {
    background-color: rgb(255, 255, 255); 
}
